@keyframes RotateCard {
    0% {transform: rotateX(0deg);}
    50% {transform: rotateX(90deg);}
    100% {transform: rotateX(0deg);}


}
/*
@keyframes UnrotateCard {
    100% {transform: rotateX(0deg);}


} */

#Card {
    padding: 20px;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
    border: 1px solid black;
    box-shadow: 5px 5px 15px #00000066;
    background-color: #fff;
    /* animation-name: UnrotateCard;
    animation-duration: 0.5s; */
}
#CardHitbox{
   width: 20%;
   margin: auto;
   padding: 10px;
   /* background-color: red;  */
}

#CardHitbox:hover  #Card {
    animation-name: RotateCard;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}