

@keyframes RotateCard {
    0% {transform: rotateX(0deg);}
    50% {transform: rotateX(90deg);}
    100% {transform: rotateX(0deg);}


}


#card {
    animation-name: RotateCard;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

.addedclass {
    animation-name: RotateCard;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}