#Footer {
    background-color: #222;
    text-decoration: none;
    position: absolute;
    bottom: 0px;
    text-align: center;
    
    padding: 20px;
    min-height: 100px;
    width: 100%;
}

#Footer > a {
    color:#fff;
    text-decoration: none;
}