#header {
    display: inline-block;
    /* background-color: red; */
    float: right;
}

.logged {
    color: white;
}

.logBtns {
    color: deepskyblue;
    margin: 5px;
    position: relative;
    border-radius: 20px;
    border: 0px solid #000;
    padding: 10px;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
    transition: box-shadow 0.2s;
    background-color: #fff;
    outline: none;
    box-shadow: none;
}


.logBtns:hover {
    animation-fill-mode: forwards;
    /* padding-left: 70px;
    padding-right: 70px; */
    box-shadow: #888 0px 0px 20px;
    transition: box-shadow 0.2s;
}