body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#app {
    color: #000;
}

#nav {
    text-align: left;
    font-size: 20px;
    height: 50px;
    margin: 0px;
    background-color: deepskyblue;
    /* padding: 10px; */
    /* padding-top: 10px; */
}

#nav a {
    
    border: 0px solid #000;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}

#nav a.router-link-exact-active {
    color: white;
}

#header {
    display: inline-block;
}

.NavButtons {
    background-color: #00000000;
    transition: background-color 1s;
    padding: 13px;
    display: inline-block;
    border-right: 1px solid white;

}

.NavButtons:hover {
    background-color: #00000088;
    transition: background-color 1s;
    padding: 13px;
    display: inline-block;
    border-right: 1px solid white;

}