body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#app {
    color: #000;
}

#nav {
    text-align: left;
    font-size: 20px;
    height: 50px;
    margin: 0px;
    background-color: deepskyblue;
    /* padding: 10px; */
}

#nav a {
    font-weight: bold;
    color: #444444;
    text-decoration: none;

}

#nav a.router-link-exact-active {
    color: white;
}

.NavBtns {
    margin: 0px;
    padding: 15px;
    border-right: 1px solid #fff;

}

.NavBtns:hover {
    background-color: #00000044;

}