body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#app {
    color: #000;
}

#nav {
    text-align: left;
    font-size: 20px;
    height: 50px;
    margin: 0px;
    background-color: deepskyblue;
    /* padding: 10px; */
    /* padding-top: 10px; */
}

#nav a {
    font-size: 20px;
    border: 0px solid #000;
    font-weight: bold;
    color: #fff;
    text-decoration: none;

}

#nav a.router-link-exact-active {
    color: white;
}

#header {
    display: inline-block;
}

.NavButtons {
    padding: 10px;
    display: inline-block;
    border: 0px solid white;

    border-bottom: 10px solid transparent;

}

.NavButtons:hover {
    border-bottom: 10px solid white;
    display: inline-block;

}